@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=DM+Serif+Display&family=Roboto&display=swap');

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 360px;
  overflow-x: hidden;
}

.hidden { display: none; }

/*  Header Styles  */
header { border-bottom: 1px solid #4FA83D ; }

/*  Main Styles  */
.note p {
  text-align: center;
  text-decoration: underline;
  font-weight: 600;
  margin: 50px 0 10px;
  font-size: 20px;
}

.note ol {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 1px;
}

.note ol li { margin: 15px 0; }

.loan-type {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
}

/*  Application step Styles  */
.application h1 {
  text-align: center;
  font-family: 'DM Serif Display', serif;
  margin: 50px 0 30px 0;
}

.applywrap {
  width: 70%;
  margin: 70px auto;
}

.steps {
  letter-spacing: 2px;
  margin: 50px 0;
  font-size: 20px;
}

.steps p { margin: 15px 0; }

.steps a { color: #F70805; }

.steps a:hover { text-decoration: underline; }
