@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=DM+Serif+Display&family=Roboto&display=swap');

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 360px;
  overflow-x: hidden;
}

.hidden { display: none; }

/*  Header Styles  */
header { border-bottom: 1px solid #4FA83D ; }

/*  Main content Styles  */
.contact-header h1 {
  text-align: center;
  font-size: 45px;
  font-family: 'DM Serif Display', serif;
  margin: 50px 0;
}

.contact-info {
  text-align: center;
  font-size: 20px;
}

.contact-info div {
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.contact-form h2 {
  font-size: 20px;
  text-align: center;
  margin: 50px 10px;
}

/*  Form Styles  */
form {
  display: block;
  width: 70%;
  padding: 20px;
  margin: 50px auto;
  height: 620px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 5px;
}

form textarea {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

form input::placeholder { font-size: 15px; }

form textarea::placeholder { font-size: 15px; }

form small { color: #FB0303; }

.form-group { margin-bottom: 10px; }

form button {
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #005B13;
  border: none;
  color: #FFF;
  display: block;
  margin: 30px 0;
  width: 150px;
}

form button:hover {
  background-color: #FFF;
  color: #005B13;
  border: 2px solid #005B13;
  transition: 0.3s ease-in;
}

@media only screen and (min-width: 992px) {
  .contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
  }
  
  form { 
    height: 550px;
    width: 50%;
  }

  .first-name { width: 45%; }

  .last-name { width: 45%; }

  .mini {
    display: flex;
    justify-content: space-between;
  }
  
}